body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    background-color: whitesmoke;
    text-align: center;
}

#intro {
    text-align: center;
    margin-left: 22em;
    margin-right: 22em;
}
.hr {
    border-color: gray;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
p {
    color: rgb(34, 34, 34);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h1 {
    color: rgb(8, 8, 8);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    text-align: center;
}

.Fenykep{
    height: 300px;
    text-align: center;
}

#greetings{
    padding-top: 0.01pc;
    padding-right: 1%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    background-color: white
}

.profile-image {
    width :80px;
    height :80px;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
    border: 1px solid #fff;
    padding: 3px;
    margin: 6px;
    text-align: center;
}

.hobby_list{
    display:inline-block;
        }
