body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    background-color: whitesmoke;
    align-items: center;
}

.hr {
    border-color: gray;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
p {
    color: rgb(34, 34, 34);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h1 {
    color: rgb(8, 8, 8);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

}

.Fenykep{
    height: 300px;
}

#greetings{
    padding-top: 0.01pc;
    padding-right: 1%;
    padding-bottom: 0%;
    padding-left: 1%;
    background-color: white
}