h1 {
    font-family: Anton;
}

h2 {
    font-family: Montserrat;
}

p {
    font-family: Montserrat;
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-family: Anton;
    text-align: center;
    font-size: 16px;
    line-height: 1.42857143;
    padding: 10px 16px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    white-space: nowrap;
    vertical-align: middle;
    color: #000;
    background-color: #fff;
    border-color: #000;
  }
  
  
  .btn:hover {
    background-color: #000;
    color: #fff;
    transition: background-color .15s ease-in-out;
  }