
body {
    max-width: 700px;
    margin: auto;
    background-color: #247, 248, 249;
    font-family: 'Montserrat';
  }

h1, h2, h3 {
    text-align: center;
    font-family: 'Anton';
}

.hatter {
    background-color: whitesmoke;
}
.photos {
    width: 400px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    text-align: center;
}
.icon {
    width :20px;
    height :20px;
}

.profile-image {
    width :80px;
    height :80px;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
    border: 1px solid #fff;
    padding: 3px;
    margin: 6px;
}
  
.profile-image:hover {
    transform: scale(1.1);
    filter: grayscale(20%);
  }

  a {
    text-decoration: none;
    color: #242424;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

  a:hover {
    color: #fff;
  }

footer {
    text-align: center;
}